@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
  /* color: white; */
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start buttons add/pdf */

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b84ff;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 45px;

  border-radius: 5px;
}

.btn-add:hover {
  background-color: #2267b9;
}
/* test */
.btn-pdfs {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  border-radius: 5.23px;
  color: #000000;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #d0d5dd 2px;
  text-decoration: none;
  width: 229px;
  height: 45px;
}

.btn-pdfs:hover {
  background: #007c85;
  color: #ffffff;
  border-color: #007c85;
}

.btn-pdfs:hover > img {
  filter: brightness(0) invert(1);
}

/* end buttons add/pdf */

/* start page title */
.pagetitle {
  font-style: Manrope;
  color: #191d23;
}

/* end page title */

.search {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px;
  padding: 10px;
  gap: 10px;
}

/* fcard */
.form-card
/* {
  width: 1777px;
  height: 83px ;
  margin-top: 83px;
  border-radius: 5px;
  gap: 13px;

  
} */
/* ecard */

/* fsearch */
.isearch {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px;
  gap: 10px;
}
/* esearch */

/* sort by*/

.btn-pagination {
  border: 0.9px;
  background: #007c85;
  color: #ffffff;
  width: 48px;
  height: 25px;
}

.ipt-pagination {
  width: 48px;
  height: 25px;
}

.btn-edit {
  color: #000000;
  width: 109px;
  height: 42px;
  border-radius: 5px;
  background: #e7eaee;
}
.btn-edit:hover {
  background-color: #007c85;
  color: #ffffff;
}

.p-title {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.slash {
  font-weight: 500;
  font-size: 20px;
  color: #191d2360;
}

.active {
  font-weight: 500;
  font-size: 20px;
  color: #007c85;
}

.bread {
  font-weight: 500;
  font-size: 20px;
  color: #191d2360;
  cursor: pointer;
}

.bread:hover {
  color: #007c85;
}

.table-row {
  width: 286px;
  height: 70px;
  border-bottom: #e7eaee;
  border: 1px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.required-field::before {
  content: "*";
  color: red;
  margin-right: 5px;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f3f0f0;
  opacity: 30;

  max-height: 400px;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;

  opacity: 100;
  width: 10px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}

.dropdowncss {
  position: absolute;
  z-index: 30;
  top: 3.5rem;
  right: 1.5rem;
  width: 215px;
  height: 215px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  box-shadow: #000000;
}
select {
  /* Firefox */
  -moz-appearance: none;
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  /* Remove default arrow in IE */
  appearance: none;
}

.status-icon-scheduled::before {
  content: "●";
  margin-right: 5px;
  color: #48dc23;
}
.status-icon-done::before {
  content: "●";
  margin-right: 5px;
  color: #a7a59b;
}
.status-icon-missed::before {
  content: "●";
  margin-right: 5px;
  color: #ee4d4d;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

tbody {
  display: block;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table {
  width: 100%;
}

