@tailwind base;
@tailwind components;
@tailwind utilities;


  html,
body,
:root {
  height: 100%;
  /* color: white; */
}

/* start buttons add/pdf */

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b84ff;
  color: white;
  font-weight: bold;
  width: 104px;
  height: 40px;

  border-radius: 5px;
}

.btn-add:hover {
  background-color: #2267b9;
}
/* test */
.btn-pdfs {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  border-radius: 5.23px;
  color: #000000;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #d0d5dd 2px;
  text-decoration: none;
  width: 200px;
  height: 40px;
}

.btn-pdfs:hover {
  background: #007c85;
  color: #ffffff;
  border-color: #007c85;
}

.btn-pdfs:hover > img {
  filter: brightness(0) invert(1);
}

/* end buttons add/pdf */

/* start page title */
.pagetitle {
  font-style: Manrope;
  color: #191d23;
}

/* end page title */

.search {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px;
  padding: 10px;
  gap: 10px;
}

/* fcard */
.form-card
/* {
  width: 1777px;
  height: 83px ;
  margin-top: 83px;
  border-radius: 5px;
  gap: 13px;

  
} */
/* ecard */

/* fsearch */
.isearch {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px;
  gap: 10px;
}
/* esearch */

/* sort by*/

.btn-pagination {
  border: 0.9px;
  background: #007c85;
  color: #ffffff;
  width: 48px;
  height: 25px;
}

.ipt-pagination {
  width: 48px;
  height: 25px;
}

.btn-edit {
  color: #000000;
  width: 109px;
  height: 42px;
  border-radius: 5px;
  background: #e7eaee;
}
.btn-edit:hover {
  background-color: #007c85;
  color: #ffffff;
}

.p-title {
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  /* w-[1157px] h-[32px] leading-[42px] font-bold */
}

.table-row {
  width: 286px;
  height: 70px;
  border-bottom: #e7eaee;
  border: 1px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.required-field::before {
  content: "*";
  color: red;
  margin-right: 5px;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f3f0f0;
  opacity: 30;
  border-radius: 10px;
  max-height: 400px;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  opacity: 100;
  width: 10px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}

.dropdowncss {
  position: absolute;
  z-index: 30;
  top: 3.5rem;
  right: 1.5rem;
  width: 215px;
  height: 215px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  box-shadow: #000000;
}

