@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* color: white; */
}

/* start buttons add/pdf */

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b84ff;
  color: white;
  font-weight: bold;
  width: 104px;

  border-radius: 5px;
}

.btn-add:hover {
  background-color: #2267b9;
}
/* test */
.btn-pdfs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5.23px;
  font-family: Manrope;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #d0d5dd 2px;
  text-decoration: none;
  width: 254px;
}

.btn-pdfs:hover {
  background: #007c85;
  color: #ffffff;
  border-color: #007c85;
}

.btn-pdfs:hover > img {
  filter: brightness(0) invert(1);
}

/* end buttons add/pdf */

/* start page title */
.pagetitle {
  font-style: Manrope;
  color: #191d23;
}

/* end page title */

.search {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px;
  padding: 10px;
  gap: 10px;
}

/* fcard */
.form-card
/* {
  width: 1777px;
  height: 83px ;
  margin-top: 83px;
  border-radius: 5px;
  gap: 13px;

  
} */
/* ecard */

/* fsearch */
.isearch {
  width: 636px;
  height: 52px;
  margin-top: 16px;
  margin-left: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px;
  gap: 10px;
}
/* esearch */

/* sort by*/

.btn-pagination {
  border: 0.9px;
  background: #007c85;
  color: #ffffff;
  width: 48px;
  height: 25px;
}

.ipt-pagination {
  width: 48px;
  height: 25px;
  border: 1px;
}

.btn-edit {
  color: #000000;
  width: 109px;
  height: 42px;
  border-radius: 5px;
  background: #e7eaee;
}
.btn-edit:hover {
  background-color: #007c85;
  color: #ffffff;
}

.p-title {
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  /* w-[1157px] h-[32px] leading-[42px] font-bold */
}

.table-row {
  width: 286px;
  height: 70px;
  border-bottom: #e7eaee;
  border: 1px;
}
